@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Monoton');


.nav-list {
    text-align: center;
}

html,
body,
.view {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.view-top {
    /*background-color: #ff3d00;*/
}

.navbar {
    background-color: rgba(256, 256, 256, 0.8);
}

.top-nav-collapse {
    background-color: rgba(256, 256, 256, 0.85);
}

@media only screen and (min-width: 767px) {
    .navbar {
        background-color: rgba(256, 256, 256, 0.85);
    }
    
    .bigheader {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    .bigheader {
        font-size: 2rem;
    }
    
    p, h2{
        text-align: center !important;
    }
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

.fa-behance,
.fa-facebook,
.fa-youtube-play,
.fa-phone,
.fa-copyright,
.fa-map-marker,
.fa-envelope,
.fa-check,
.redtext {
    color: #ff3d00 !important;
}

.bigheader {
    font-family: 'Monoton', cursive;
    word-spacing: 1rem; 
    color: #ff3d00;
    text-transform: uppercase;
}

.lang {
    font-weight: 400;
}

.h-line {
    height: 1px;
    background-color: #bcbcbc;
}

.redbutton {
    width: 100%;
    border: #ff3d00 solid 1px;
    border-radius: 0;
    font-size: 2rem;
    font-family: 'Roboto light', sans-serif;
    box-shadow: none;
}

.ftr {
    color: black;
}

.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; text-align: center;}
.input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease; text-align: center;}

.descript {
    font-size: 120%;
}

.noround {
    border-radius: 0 !important;
    border-width: 0;
}

.noborder {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.redbutton-p {
    width: 100%;
    border: #ff3d00 solid 1px;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: 'Roboto light', sans-serif;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ff3d00;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #ff3d00;
}
.input1 {
    border: 1px solid #000000 !important;
    text-align: center;
}

.input1:focus {
   border-bottom: 1px solid #000 !important;
}
