@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');

.nav-list {
    text-align: center;
}

html,
body,
.view {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.view-top {
    background-image: url(main%20animation_animated.1507713370.svg);
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: 90%;
}

.navbar {
    background-color: rgba(256, 256, 256, 0.8);
}

.top-nav-collapse {
    background-color: rgba(256, 256, 256, 0.85);
}

@media only screen and (min-width: 767px) {
    .navbar {
        background-color: rgba(256, 256, 256, 0.85);
    }
    
    .bigheader {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    .bigheader {
        font-size: 1.9rem;
    }
    
    p, h2{
        text-align: center !important;
    }
    
    .hidden-md {
        display: none;
    }
    
    .view-top {
        background-image: none;
    }
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

.fa-behance,
.fa-facebook,
.fa-youtube-play,
.fa-phone,
.fa-copyright,
.fa-map-marker,
.fa-envelope,
.fa-check,
.fa-file-text,
.redtext {
    color: #ff3d00 !important;
}

.bigheader {
    font-family: 'Monoton', cursive;
    word-spacing: 1rem; 
    color: #ff3d00;
    text-transform: uppercase;
}

.lang {
    font-weight: 400;
}

.h-line {
    height: 1px;
    background-color: #bcbcbc;
}

.redbutton {
    width: 100%;
    border: #ff3d00 solid 1px;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: 'Roboto light', sans-serif;
    box-shadow: none;
}

.ftr {
    color: black;
}

.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; text-align: center;}
.input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease; text-align: center;}
.input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease; text-align: center;}

.descript {
    font-size: 120%;
}

.noround {
    border-radius: 0 !important;
    border-width: 0;
}

.noborder {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.redbutton-p {
    width: 100%;
    border: #ff3d00 solid 1px;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: 'Roboto light', sans-serif;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ff3d00;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #ff3d00;
}
.input1 {
    border: 1px solid #000000 !important;
    text-align: center;
}

.input1:focus {
   border-bottom: 1px solid #000 !important;
}

.redline {
    height: 2px;
    background-color: #ff3d00;
    width: 100%;
    margin-bottom: 0.5rem;
}

.checkbox {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #2d2d2d;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .8rem;
  border-color: #ff3d00;
  border-top-style: none;
  border-right-style: none;
    margin-top: 0.325rem;
}

.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.lable-text {
    font-size: 1.5rem;
}

.help-block {
    display: none;
}

.help-block.error {
    display: block;
}

th {
    font-size: 140% !important;
    font-weight: bold !important;
}

td {
    vertical-align: middle !important;
    font-size: 105% !important;
}

.boldtext {
    font-weight: bold;
}
